.footer{
    background-color: $primaryColor;
    border-top:2px solid $detailColor;
    display: grid;
    font-size: $thumb * 0.7;
    grid-template-columns: repeat(3,1fr);
    height:7vh;
    &--icons{
        align-items: center;
        display: flex;
        gap: $thumb * 0.4;
        grid-column: 3;
        justify-content: flex-end;
        padding-right: $thumb * 2;
    }
}
