.header{
    @include flexCC;
    background-color: $primaryColor;
    border-bottom: 2px solid $detailColor;
    display: grid;
    gap: $thumb * 0.5;
    grid-template-columns: repeat(3, 1fr);
    height: 7vh;

    &--links{
        @include flexCC;
        gap: $thumb * 0.5;
        grid-column: 2;
    }
    &--userSection{
        display: flex;
        gap: $thumb * 0.5;
        grid-column: 3;
        justify-content: flex-end;
        padding-right: $thumb * 2;
    }
}